@{
    ViewBag.Title = "Welcome to ASP.NET Single Page Application";
}
@section head {
    <script src="~/Scripts/App/DeliveriesViewModel.js" type="text/javascript"></script>
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
        </div>
    </section>
}

<ol data-bind="foreach: deliveries">
    <li>
        <strong data-bind="text: Description"></strong>
        is for <em data-bind="text: Customer().Name"></em>
    </li>
</ol>

<script type="text/javascript">

    $(function () {
        upshot.metadata(@(Html.Metadata<TechDaysOnePageApp.Controllers.DataServiceController>()));
        ko.applyBindings(new DeliveriesViewModel());
    });

</script>
